.ck-editor__editable {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 200px;
  max-height: 300px;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: normal;
}

.ck-editor__editable {
  color: black;
}

/* 리스트 타입 */
ol li {
  margin-left: 0.8rem;
}
ul li {
  margin-left: 1rem;
}
.todo-list__label {
  margin-left: 0.8rem;
}
